@import "../../assets/sass/Variables";
@import "../../assets/sass/mixin";

.hotelCard-wrapper {
  width: 100%;
  height: 10rem;
  @include mediaQ(xsm) {
    height: 20rem;
    flex-direction: column;
  }
  @include mediaQ(sm) {
    height: 20rem;
    flex-direction: column;
  }
  @include mediaQ(md) {
    height: 11rem;
    flex-direction: row;
  }
  @include mediaQ(lg) {
    height: 10rem;
    flex-direction: row;
  }
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.7rem;
  box-shadow: 1px 1px 5px rgba(134, 133, 133, 0.58);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .image-wrapper {
    @include mediaQ(xsm) {
      height: 100%;
      width: 100%;
    }
    @include mediaQ(sm) {
      height: 100%;
      width: 100%;
    }
    @include mediaQ(md) {
      width: 47%;
    }
    @include mediaQ(lg) {
      width: 37%;
    }
    @include mediaQ(xlg) {
      width: 40%;
    }
    border: 1px solid transparent;
    border-radius: 0.3rem;
    overflow: hidden;
    
  }
  .hotel-info {
    @include mediaQ(xsm) {
      height: 100%;
      width: 100%;
      text-align: start;
    }
    @include mediaQ(sm) {
      height: 100%;
      width: 100%;
      text-align: start;
    }
    @include mediaQ(md) {
      width: 50%;
      text-align: start;
    }
    @include mediaQ(lg) {
      width: 58%;
      height: 100%;
      text-align: start;
    }
    height: 100%;
    padding: 0.4rem 0rem;
    line-height: 1.6rem;
    .hotel-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 1rem;
      h4{
        @include mediaQ(lg) {
         font-size: 0.9rem;
        }
        @include mediaQ(xlg) {
          font-size: 1rem;
         }
        
      }
      .button {
        color: white;
        padding: 0.5rem 1rem;
        border: 1px solid transparent;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .book {
        background-color: #0071c2;
        transition: all 0.3s;
      
        &:hover {
          background-color:#003580;
        }
      }
      .cancel {
        background-color: red;
        transition: all 0.3s;
        &:hover{
      
          background-color: #e32636;
        }
      }
    }
    .location {
      color: red;
    }
    .custom-text {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .rating {
      align-items: center;
      display: flex;
    }
    h5 {
      font-size: 1.2rem;
    }
    p {
      color: $pargraphColor;
      font-weight: 500;
    }
  }
}
