/* global styels */

/* fonts */
@font-face {
  font-family: robotoRegular;
  src: url(../src/assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: robotoBold;
  src: url(../src/assets/fonts/Roboto-Bold.ttf);
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: robotoRegular;
}

/* shared-classes */
.main-container{
  width: 80%;
  margin: 0 auto;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar {
	width: 4px;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
	background:gray;
}