@import "../../assets/sass/Variables";
@import "../../assets/sass/mixin";

.form-wrapper {
  display: flex;
  flex-direction: column;
  text-align: start;

  label {
    font-size: 1rem;
    color: $pargraphColor;
    @include mediaQ(xsm) {
      font-size: 0.6rem;
    }
  }
  input {
    border-radius: 5px;
    border: 1px solid rgb(187, 183, 183);

    @include mediaQ(xsm) {
      padding: 0rem;
    }
    @include mediaQ(sm) {
      padding: 0.3rem 0rem;
    }
    @include mediaQ(md) {
      padding: 0.6rem 0rem;
    }

    &::placeholder {
      font-weight: bold;
      opacity: 0.5;
      color: red;
    }
    &:focus {
      outline: none !important;
      border: 1px solid skyblue;
      box-shadow: 0 0 2px blue;
    }
  }
  .error-message {
    color: red;
  }
  .submit-btn {
    margin-top: 1rem;
    margin-left: auto;
    text-align: center;
    font-size: 1rem;

    @include mediaQ(xsm) {
      padding: 0.2rem;
      font-size: 0.5rem;
    }
    @include mediaQ(sm) {
      padding: 0.2rem 0.5rem;
    }
    @include mediaQ(md) {
      padding: 0.4rem 2rem 0.4rem 1.4rem;
    }
    background-color: #0071c2;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      background-color: #003580;
    }
  }
}
